<div id="<%= dom_id source %>">
  <p>
    <strong>Name:</strong>
    <%= source.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= source.url %>
  </p>


  <p>
    <strong>Selector:</strong>
    <%= source.selector %>
  </p>


  <p>
    <strong>Relative url:</strong>
    <%= source.relative_url%>
  </p>

</div>
