<div id="<%= dom_id article %>" class='scontainer'>

  <%= show_article_tags(article) %>
  <%= scrape_btn(article) %>
  <%= update_tags_btn(article) %>
  <div class="py-4">
    <%= article_header(article) %>
    <%= article_body(article) %>
  </div>

</div>
