<div class="container ">

  <%# Search box %>
  <div class="fixed top-2 right-4">
    <div class="flex justify-center 
                px-20
                <%# outline-dashed outline-2 outline-offset-2 outline-slate-200 %>
                "> 
      <%= form_with(url: articles_path, method: :get, 
        data: { controller: "search-form", turbo_frame: "articles", turbo_action: "advance"} ) do |form| %>

        <%= form.label :query, 'Search by: ', class:"hidden block mb-2"%>

        <%= form.text_field :query,
          class:"py-3 px-4 bg-white rounded border ring-0 focus:ring-4 focus:ring-slate-100 focus:shadow-none focus:border-orange-500 focus:outline-none",
          data: { action: "input->search-form#search"}
        %>

        <%= form.submit "Search",
        class: "search_btn" %>
      <% end %>
    </div>
  </div>

  <%# Articles %>
  <div class="my-16">
    <%= render "articles", articles: @articles %>
  </div>

<%# Bottom Info %>
    <div class="py-6  pt-12">
      <h1 class="font-bold text-4xl text-center">Articles</h1>
      <h4 class="text-center mb-2 font-bold">Total articles: <%= Article.all.count %></h4>
      <h4 class="text-center mb-2 font-bold">Total found: <%= @articles.count %></h4>
  </div>
</div>