  <%# Search box %>
  <div class="fixed top-3 right-3 z-10">
 
      <%= form_with(url: articles_path, method: :get,  class: 'flex align-items outline-2 outline-black  transition-all',
        data: { controller: "search-form", turbo_frame: "articles", turbo_action: "advance"} ) do |form| %>

        <%= form.label :query, class:"text-sm hidden top-0 left-0" do %>
        Find in all articles
        <% end %>

        <%= form.text_field :query,
          class:"rounded-l-lg
                p-0 pl-4 py-0.5 outline-0 w-32  active:border-r-0
                bg-white focus:bg-white
                border border-slate-400 border-width-4 border-r-0 
                ",
                autocomplete:'off',
          data: { action: "input->search-form#search"}
        %>

        <%= button_tag( :class => "p-2 bg-white hover:bg-gray-100 rounded-r-lg
                                    border border-slate-400 border-width-4 border-l-0 
                                    ") do %>
          <%= image_tag 'search.svg', class: 'h4 w-4' %>
        <% end %>

      <% end %>
 
  </div>
  
<div class="container ">


  <%# Articles %>
  <div class="my-16">
    <%= render "articles", articles: @articles %>
  </div>

<%# Bottom Info %>
    <div class="py-6  pt-12">
      <h1 class="font-bold text-4xl text-center">Articles</h1>
      <h4 class="text-center mb-2 font-bold">Total articles: <%= Article.all.count %></h4>
      <h4 class="text-center mb-2 font-bold">Total found: <%= @articles.count %></h4>
  </div>
</div>