<p style="color: green"><%= notice %></p>
<div class="container"><br>
  <%= render @article %><br>
  <%= link_to "Edit this article", edit_article_path(@article), class:"link-sm" %> |
  <%= link_to "Back to articles", articles_path, class:"link-sm" %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
