<div class="notice"><%= notice %></div>

<div class="container">


<%= render @tag %>

<div class="my-2 py-2">
Associated Terms:
 <div class="flex gap-4">
  <% @tag.terms.each do |term| %>
      <div class="bg-orange-100 py-1 px-2 drop-shadow-sm rounded text-sm"><%= term.name%></div>
  <% end %>
  </div>
 </div>
  

<% @articles.each do |article| %> <%= link_to article.header, article_path(article) %><% end %>

<div class="p-2 flex gap-8">
  <%= link_to "Edit this tag", edit_tag_path(@tag), class: "btn-rounded "  %>
  <%= link_to "Back to tags", tags_path, class: "btn-rounded "  %>
  <%= button_to "Destroy this tag", @tag, method: :delete , class: "btn-rounded " %>
</div>
</div>


