<!DOCTYPE html>
<html>
  <head>
    <title>Turbonews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  </head>

  <body>
      <%= link_to articles_path, class: 'logo-wrapper' do %>
        <h1 class="logo">TurboNews</h1>
      <% end %>

    <div class="notice">
      <span><%= notice %></span>
    </div>
     <%= yield %>
  </body>
</html>
